<h2>Update Account</h2>
<form id='update_account_form'>
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" [(ngModel)]="currentUser.firstname" name="firstname" required required/>
    </div>

    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" [(ngModel)]="currentUser.lastname" name="lastname" required required/>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="currentUser.email" name="email" required required/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="currentUser.password" name="password" required/>
    </div>

    <div class="form-group">
        <label for="naissance">naissance</label>
        <input type="text" class="form-control" [(ngModel)]="currentUser.naissance" name="naissance" required/>
    </div>

    <div class="form-group">
        <label for="linkedin">linkedin</label>
        <input type="text" class="form-control" [(ngModel)]="currentUser.linkedin" name="linkedin" required/>
    </div>

    <div class="form-group">
        <label for="promotion">promotion</label>
        <input type="text" class="form-control" [(ngModel)]="currentUser.promotion" name="promotion" required/>
    </div>

    <div class="form-group">
        <label for="telephone">telephone</label>
        <input type="text" class="form-control" [(ngModel)]="currentUser.telephone" name="telephone" required/>
    </div>

    <button type='submit' class='btn btn-primary' (click)="save()">
        Save Changes
    </button>
</form>